.cuadrilla {
    display: grid;
    grid-template-columns:repeat(4, 25%);
    gap: 25px;
}
.cuadrilla.img {
    width: 100%;
}

.articulo {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-items: center;
}

.articulo .columna_izq{
background-color: beige;
}

.articulo .columna_der{
    background-color: blueviolet;
}