/*  Variables  */
/*  Las Variables son cajas de informacion 
y que se pueden reutilizar
*/

:root {
    --main-color: rgb(203, 146, 40);
    --tittle-size: 42px ;
}

/*  Estilos en Archivos */
* {
    color: rgb(19, 100, 15);
}
h1, h2, h3 {
    background-color: beige;

}

div p.subtitulos, h1.subtitulos {
    color: blue;
    background-color: rgb(34, 118, 34);
    font-size: 25px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin: 20px 40px;
    padding: 20px 30px 10px;
    width: 50wh;
    height: 100%;
    text-align:right;
    text-decoration-line: line-through;
    text-decoration: solid 5px line-through blue;
    text-transform:capitalize;
    /*
    vw: viewport width (anchura del navegador)
    vh: viewport heigth (altura del navegador)
    */
    width: 30rem;
    height: 20rem;
}
#parrafoEspecial {
    color: :brown ;
    background-color: brown;
}
.color-rojo {
    color: var(--main-color);
}

.texto-grande {
    font-size: var(--tittle-size);
}
.borde-rojo {
    /*border: 1px var(--main-color) solid*/;
    border-style: double;
    border-width: 20px 10px 30px 10px;
    border-color: var(--main-color);
    border-radius: 50px;
    box-shadow: -5px -10px red  ;
}
.parrafo{
    color: blue;
    text-indent: 5%;
    letter-spacing: 0px;
    line-height: auto;
    word-spacing: 2px;
    text-shadow: -3px -3px 10px green;
    /*text-align: justify;*/
}

p {
    display:block;
    color: burlywood;
    background-image:linear-gradient(to right red, rgb(134, 199, 29), yellow);
}
button {
    background-color: red;
}
button:hover {
        background-color: green;
        width: 50px;
    }
    
    /* PSEUDO CLASES */

        a:visited {color: blueviolet;
        }
        a:active {
            color: green;
            
        }
        a:link {
            color: brown;
            ;}
        input:focus {
            background-color: blue;
        }

    /*Pseudo Elementos*/
        p::first-letter {
            font-size: 32px;
            color: violet;
        }
        p::first-line{
            font-size: 24px;
            color: teal;   
        }
        p::after{
            content: "Hola mundo";
        }
        p::before{
            content: "Otro Mensaje";
        }
        div{
            background-image: url(https://www.nationalgeographic.com.es/medio/2022/12/12/perro-1_514aad3b_221212161023_1280x720.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        