*{
    margin: 0;
    padding: 0;
    color: aliceblue;
}

body{
    background-color: rgb(129, 129, 124);
}

.fila{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    width: 20vw;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.columna img{
    width: 320px;
    height: 250px;
    border-radius: 10%;
}

.perfil img{
    width: 03vw;
    height: 05vw;
}

.info {
    font-size: medium;
    color: burlywood;
}